<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Avatar</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody >
    <tr>
      <td></td>
      <td><input class="form-control" type="text" [ngModel]="search" (ngModelChange)="onSearch($event, 'first_name')"/></td>
      <td><input class="form-control" type="text" [ngModel]="search" (ngModelChange)="onSearch($event, 'last_name')"/></td>
      <td><input class="form-control" type="text" [ngModel]="search" (ngModelChange)="onSearch($event, 'email')"/></td>
      <td></td>
      <td>
        <select class="form-control" [ngModel]="search" (ngModelChange)="onSearch($event, 'status')">
          <option value="">All</option>
          <option value="inactive">Inactive</option>
          <option value="active">Active</option>
        </select>
      </td>
      <td></td>
    </tr>
    <tr 
      app-todo-item 
      *ngFor="let todo of todos ; let i = index" 
      [todo]="todo" 
      [index] = "i" 
      (deleteTodo)="onDelete($event)"
      (editTodo)="onUpdateTodo($event)"
      (changeStatusTodo)="onChangeStatus($event)"
    ></tr>
  </tbody>
</table>
