<div class="featured">
  <h3 class="title">Featured Posts</h3>
  <div *ngFor="let blog of latestBlogs; let i = index" class="item mb-20">
    <nz-space nzAlign="center" [nzSize]="8">
      <div *nzSpaceItem class="image">
        <a [routerLink]="['/', blog.slug]"><img [alt]="blog.title" [src]="blog.image" /></a>
      </div>
      <div *nzSpaceItem class="info">
        <div class="blog-category">
          <nz-space nzAlign="center" [nzSplit]="spaceSplit">
            <ng-template #spaceSplit>
              <span>, </span>
            </ng-template>
            <ng-container  *ngFor="let blogCategory of blog.category">
              <span *nzSpaceItem>{{blogCategory | categoryName}}</span>
            </ng-container>
          </nz-space> 
        </div>
        <div class="title mb-10">
          <a [routerLink]="['/', blog.slug]">{{blog.title}}</a>
        </div>
      </div>
    </nz-space>
  </div>
</div>