<td scope="row">{{index + 1}}</td>
<td>{{todo.first_name}}</td>
<td>{{todo.last_name}}</td>
<td>{{todo.email}}</td>
<td><img [src]="todo.avatar" /></td>
<td>
  <div (click)="onChangeStatus(todo)">
    <span [ngClass]="todo.status === 'active' ?  'badge bg-primary' : 'badge bg-dark'">{{todo.status | uppercase}}</span>
    <!-- <span [ngClass]="{'badge bg-primary': todo.status === 'active', 'badge bg-dark': todo.status === 'inactive'}">{{todo.status}}</span> -->
  </div>
  
</td>
<td>
  <div class="d-flex">
    <button class="btn btn-danger me-3" type="button" (click)="onDelete(todo.id)">Delete</button>
    <button class="btn btn-warning" type="button" (click)="onEdit(todo)">Edit</button>
  </div>
  
</td>

