<div class="wrap-login">
  <div class="wrap-login__left"></div>
  <div class="wrap-login__right">
    <form novalidate [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <img src="../../assets/images/Logo-Calisa-Xanh.png" />
    
      <div class="mb-4">Sign In To Supply Chain</div>

      <div class="mb-3">
        <input 
          type="email"
          formControlName="username"
          class="form-control"
          placeholder="User  Name"
        />
        <div *ngIf="submitted && f['username'].errors || f['username'].invalid && f['username'].touched" >
          <div class="text-danger" *ngIf="f['username'].errors && f['username'].errors['required']">Email is required</div>
          <div class="text-danger" *ngIf="f['username'].errors && f['username'].errors['email']">Email is invalid</div>
        </div>
      </div>
      <div class="mb-3">
        <input 
          type="password" 
          formControlName="password" 
          class="form-control" 
          placeholder="Password"
        />
        <div *ngIf="submitted && f['password'].errors || f['password'].invalid && f['password'].touched" >
          <div class="text-danger" *ngIf="f['password'].errors && f['password'].errors['required']">Password is required</div>
          <div class="text-danger" *ngIf="f['password'].errors && f['password'].errors['minlength']">Password is minimum 6 characters</div>
        </div>
      </div>

      <input type="submit" class="btn btn-primary"/>
    </form>
  </div>
</div>