<div class="wrap-main page-padding">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <app-todo-save 
          (dataAddTodo)="saveTodo($event)"
          (dataUpdateTodo)="updateTodo($event)"
          [todoItem]='todoItem'
        ></app-todo-save>
      </div>
      <div class="col-9">
        <!-- <div class="row">
          <div class="col-8">
            <div class="search-box">
              
            </div>
          </div>
          <div class="col-4"></div>
        </div> -->
        <app-todo-list 
          [todos]='todos' 
          (deleteTodo)="deleteTodo($event)"
          (changeStatusTodo)="updateTodo($event)"
          (editTodo)="getTodoDetail($event)"
          (searchTodo)="searchTodo($event)"
        ></app-todo-list>
      </div>
    </div>
  </div>
</div>
