<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <a routerLink="/admin"><div class="logo"></div></a>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Blog" nzIcon="book">
        <ul>
          <li nz-menu-item><a routerLink="/admin/blog">Blog List</a></li>
          <li nz-menu-item><a routerLink="/admin/blog/add">Add Blog</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Categories" nzIcon="copy">
        <ul>
          <li nz-menu-item><a routerLink="/admin/categories">Categories</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Setting Page" nzIcon="setting">
        <ul>
          <li nz-menu-item>Home</li>
          <li nz-menu-item>Blog</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2021 Implement By Giang</nz-footer>
  </nz-layout>
</nz-layout>