<div class="mb-30 text-right">
  <a nz-button nzType="primary" routerLink="/admin/blog/add">Add</a>
</div>

<nz-table 
  #basicTable 
  [nzData]="blogs"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Name</th>
      <th>Excerpt</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let blog of blogs; let i = index">
      <td>{{ i + 1}}</td>
      <td><img [src]="blog.image" /></td>
      <td>{{ blog.title  | limitText:[20]}}</td>
      <td>{{ blog.excerpt | limitText:[20] }}</td>
      <td>{{ blog.createdAt | date: 'dd MMM yyyy' }}</td>
      <td>{{ blog.updatedAt | date: 'dd MMM yyyy'}}</td>
      <td>
        <a nz-button nzType="primary" (click)="editBlog(blog.id)">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-button nzDanger (click)="deleteBlog(blog.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>