/* You can add global styles to this file, and also import other style files */
*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
}

body{
  background: #fff;
  margin: 0;
  padding: 0;
}

.text-center{
  text-align: center;
}

img{
  max-width: 100%;
}

.page-height{
  min-height: -webkit-calc(100vh - 250px);
  min-height: -moz-calc(100vh - 250px);
  min-height: calc(100vh - 250px);
  display: inline-block;
  width: 100%;
}
.page-padding{
  padding: 50px 0;
}

.wrap-main{
  min-height: -webkit-calc(100vh - 250px);
  min-height: -moz-calc(100vh - 250px);
  min-height: calc(100vh - 250px);
  display: inline-block;
  width: 100%;
}

.padding-main{
  padding: 60px 0;
}

.cursor-pointer{
  cursor: pointer;
}

$spaces: 0, 2, 4, 6, 8, 10, 12, 14, 16, 20, 26, 30, 40, 60;

@each $space in $spaces {
  .mb-#{$space} {
    margin-bottom: #{$space}px;
  }
  .mt-#{$space} {
    margin-top: #{$space}px;
  }
  .mr-#{$space} {
    margin-right: #{$space}px;
  }
  .ml-#{$space} {
    margin-left: #{$space}px;
  }
  .pb-#{$space} {
    padding-bottom: #{$space}px;
  }
  .pt-#{$space} {
    padding-top: #{$space}px;
  }
  .pr-#{$space} {
    padding-right: #{$space}px;
  }
  .pl-#{$space} {
    padding-left: #{$space}px;
  }
}

@media (min-width: 1260px){
  .container {
      max-width: 1200px!important;
      min-width: 1200px!important;
      width: 1200px!important;
  }
}
